/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .sidebar{
    position: absolute;
    left: 0px;
    min-height: 100vh;
    height: auto;
    z-index: 1070;
}
  .sidebar.active{
    position: absolute;
    left: -60px;
    min-height: 100vh;
    height: auto;
    z-index: 1070;
}
.sidebar-wrapper{
  margin-top: 45px;
  padding-top: 80px;
}
.row{
  margin-right: 0;
  margin-left: 0;
}
    
  }
  
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) {
    
  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {
    
  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
   
  }
  
  /* Extra Large devices (desktops, 992px and up)*/
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    
    
  }
  
  /* Extra Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1400px) {
    
  }